body {
    font-family: 'Gaegu', cursive;
}
.face {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 200px;
    left: 50%;

    margin-top: 50px;
    margin-left: -100px;
    border-bottom-left-radius:  50%;
    border: 5px solid black;

    background-color: #de9937;
    z-index: -1;
}

.face .eyebrow::before,
.face .eyebrow::after {
    content: " ";
    position: absolute;
    display: inline-block;

    width: 50px;
    height: 10px;

    background-color: black;
    border-radius: 10px;

    top: 75px;
    left: 50%;

    animation: moving_eyebrow;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;

}
.face .eyebrow::before {
    margin-left: -75px;
}
.face .eyebrow::after {
    margin-left: 25px;
}
.face .eyes {
    position: absolute;
    top: 100px;
    left: 50%;

    animation: moving_eyes;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}
.face .eyes::before,
.face .eyes::after {
    content: " ";
    position: absolute;
    display: inline-block;
    width: 12px;
    height: 12px;

    border-radius: 50%;
    background-color: black;

    left: 50%;
}
.face .eyes::before {
    margin-left: -56px;
}
.face .eyes::after {
    margin-left: 44px;
}
.face .nose {
    width: 30px;
    height: 18px;
    display: inline-block;
    position: absolute;

    background-color: white;
    z-index:auto;

    left: 50%;
    margin-left: -20px;
    top: 130px;
    animation: moving_nose;
    animation-duration: 1s;
    animation-direction: alternate-reverse;
    animation-iteration-count: infinite;
}
.face .nose::before,
.face .nose::after {
    content: " ";
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 30px;

    border-radius: 50%;
    border: 5px solid black;
    background-color: white;
    z-index: -1;
    margin-top: -10px;
}
.face .nose::before {
    margin-left: 15px;
}
.face .nose::after {
    margin-left: -15px;
}
.face .nose .core {
    position: absolute;
    width: 16px;
    height: 18px;
    top: -10px;
    left: 12px;
    background-color: black;

    border-radius: 40%;
}
.message {
    text-align: center;
}
@keyframes moving_eyes {
    0% {
        top: 100px;
    }
    100% {
        top: 105px;
    }
}
@keyframes moving_nose {
    0% {
        top: 130px;
    }
    100% {
        top: 140px;
    }
}

@keyframes moving_eyebrow  {
    0% {
        transform: rotate(12deg);
    }

    100% {
        transform: rotate(0deg);
    }
}